/* custom css for application */


.main-header .logo {
  height: 100px;
  padding-top: 10px;
}

#sidebarCollapsed {
  position: absolute;
  top: 50px;
}

.navbar-static-top {
  background-color: #222324;
}

.sidebar-menu {
  background-color: #222324;
}

.content-wrapper {
  background-color: #222324;
}

.box.box-solid.box-primary>.box-header {
color:#fff;
background:#222d32
}

.box.box-solid.box-primary{
border-bottom-color:#222d32;
border-left-color:#222d32;
border-right-color:#222d32;
border-top-color:#222d32;
background:#222d32
}