/* custom css for application */


.main-header .logo {
  height: 100px;
  padding-top: 10px;
}

#sidebarCollapsed {
  position: fixed;
  top: 50px;
}

.navbar-static-top {
  background-color: #222324;
}

.sidebar-menu {
  background-color: #222324;
}

.content-wrapper {
  background-color: #222324;
}